@font-face {
    font-family: "Noto Sans";
    src: url(NotoSans-VariableFont_wdth\,wght.ttf);
}
:root {
    --accent: #9690FF; /* For large effects or grander gradients */
    --accent_dark: #3A3B60;
    --primary: #84B2BB; /* For highlighting text or making smaller gradient effects */
    --primary_dark: #34474A;
    --secondary: #455052; /* For small text effects or an alternate background */
    --secondary_dark: #202726;
    --text: #ECF1F1; /* For text on the base background */
    --background: #0C1110; 
    --blue_accent: #498BFC; /* For hover effects */
    --blue_accent_dark: #2d4d7e;
}
body {
    background-color: var(--background);
    background-image: radial-gradient(at 160% 160%, var(--secondary),var(--background) 63%)
}
h1 {
    width: max-content;
    padding-left: 35px;
    background: linear-gradient(to top right, var(--accent) 40%, var(--text) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Noto Sans";
    text-shadow: 0px 0px 35px var(--primary);
    font-size: 3rem;
}
#footer-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 15px;
    background: linear-gradient(to top, var(--secondary_dark) 40%, rgba(0,0,0,0) 90%);
    color: var(--primary_dark) !important;
    display: flex;
    flex-direction: column;
}
#footer-text {
    padding-left: 25px;
}
.gray {
    color: var(--primary_dark) !important;
}
a.gray {
    font-weight: 585;
    color: var(--primary_dark) !important;
    text-shadow: 1px 1px 7px var(--accent_dark) !important;
    transition: 0.5s;
}
a.gray:hover {
    color: var(--blue_accent_dark) !important;
    text-shadow: 0px 0px 15px var(--accent_dark) !important;
}
p {
    padding-left: 10px;
    color: var(--text);
    font-family: "Noto Sans";
    margin-block: 0;
}

a {
    color: var(--primary);
    font-weight: 585;
    text-shadow: 1px 1px 7px var(--accent);
    transition: 0.5s;
}
a:hover {
    color: var(--blue_accent);
    text-shadow: 0px 0px 15px var(--primary);
}
